<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<title>New book</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="col-md-4">
		<h1>Add book</h1>
 	 <form th:object="${book}" th:action="@{save}" action="#" method="post">
 		<label for="author">Author</label>
 		<input type="text" th:field="*{author}" />
 			<div style="clear: both; display: block; height: 10px;"></div>
 		<label for="title">Title</label>
 		<input type="text" th:field="*{title}" />
 			<div style="clear: both; display: block; height: 10px;"></div>
 		<label for="isbn">ISBN</label>
 		<input type="text" th:field="*{isbn}" />
 			<div style="clear: both; display: block; height: 10px;"></div>
 		<label for="year">Year</label>
 		<input type="text" th:field="*{year1}" />
 			<div style="clear: both; display: block; height: 10px;"></div>
 			
 		<div style="clear: both; display: block; height: 10px;"></div>
 		<label for="categorylist">Category</label>
 		 <select id="categorylist" th:field="*{category}" class="form-control">
 		 	<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
 		 </select>

 		<div style="clear: both; display: block; height: 10px;"></div>
 		<input type="submit" value="Save" class="btn btn-success"></input>
 	</form>
 	</div>
</div>
</body>
</html>

