<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kysely</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

<style>
.container {
	margin-top: 100px;
}

.otsikko {
	margin-bottom: 50px;
}
</style>

</head>
<body>

	<p>
		<a href="/">Etusivu</a>
	<p>
	<div class="container">
		<h2 class="otsikko">Lisää vaihtoehto monivalintakysymykselle</h2>
		<h3 class="otsikko" th:text="${question.name}"></h3>
		<ul th:each="option : ${question.options}">
			<li th:text="${option.name}"></li>

		</ul>

		<div id="tekstikysymys">
			<form action="#" th:action="@{/saveoption/{id}(id=${question.id})}"
				th:object="${option}" method="post">

				<div>
					<label>Vaihtoehto</label>
					<textarea rows="1" class="form-control" th:field="*{name}"></textarea>
				</div>
				<div style="margin-top:10px;">
				<input class="btn btn-success" type="submit" value="Lisää">&nbsp;
				<a class="btn btn-primary" th:href=@{/addquestions/{id}(id=${survey.surveyId})}>Palaa kyselyyn</a></div>
			</form>
		</div>
		
	</div>


</body>
</html>