<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kysely</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<style>
.container {
	margin-top: 100px;
}

.otsikko {
	margin-bottom: 50px;
}
</style>
</head>
<div class="container">
	<h2 class="otiskko">Tervetuloa</h2>
	<p>Valitse seuraavista toiminnoista</p>
	<p><a href="/addsurvey">Lisää kysely</a></p>
	<p><a href="/allsurveys">Katso kaikki kyselyt</a></p>
	<p><a href="/allsurveys">Muokkaa omaa kyselyäsi</a></p>
	<p><a href="https://vastaa-kyselyihin2.onrender.com/">Vastaa kyselyihin</a></p>
</div>
</html>