<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Booklist</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit book</h1>
	<div>
		<form th:object="${book}" th:action="@{../save}" action="#" method="post">
		<input type="hidden" id="id" th:field="*{id}" />
		
		<label for="author">Author</label>
 		<input type="text" th:field="*{author}" />
 			<div style="clear: both; display: block; height: 10px;"></div>
 		<label for="title">Title</label>
 		<input type="text" th:field="*{title}" />
 			<div style="clear: both; display: block; height: 10px;"></div>
 		<label for="isbn">ISBN</label>
 		<input type="text" th:field="*{isbn}" />
 			<div style="clear: both; display: block; height: 10px;"></div>
 		<label for="year">Year</label>
 		<input type="text" th:field="*{year1}" />
 			<div style="clear: both; display: block; height: 10px;"></div>
 		
 		<div style="clear: both; display: block; height: 10px;"></div>
 		<label for="categorylist">Category</label>
 		 <select id="categorylist" th:field="*{category}" class="form-control">
 		 	<option th:each="category: ${categories}" th:value="${category.categoryId}" th:text="${category.name}"></option>
 		 </select>
 		
 		<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>